body {
  font-family: Monospace;
  background-color: black;
  color: green; }
  body a {
    text-decoration: none;
    color: black; }

header {
  width: 80%;
  margin: auto;
  border: 1px solid green;
  background-image: url("../../img/header.jpg"); }
  header h1, header h2 {
    margin: 1em;
    color: green; }
  header h2 {
    color: gray; }

nav {
  width: 80%;
  margin: auto;
  border: 1px solid green;
  background-color: green; }
  nav ul {
    text-align: right;
    color: black; }
    nav ul li {
      display: inline-block;
      margin: 1em;
      font-family: Monospace; }

section {
  width: 80%;
  margin: auto;
  border: 1px solid green; }
  section ul {
    margin: 3.5em 2em;
    width: 20%;
    text-align: center;
    float: left;
    display: inline-block; }
    section ul li {
      padding: 0.5em 1em; }
      section ul li a {
        color: green;
        font-family: Monospace; }
  section .wrap {
    width: 70%;
    display: inline-block; }
    section .wrap h1, section .wrap header h2, header section .wrap h2 {
      text-align: center; }
    section .wrap span {
      height: 0.1em;
      margin-bottom: -4px;
      margin-left: -0.5em;
      width: 1em;
      background: green;
      opacity: 0;
      display: inline-block;
      animation: blink 1s linear infinite alternate; }

@keyframes blink {
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

footer {
  border: 1px solid green;
  text-align: center;
  padding: 0.5em 0; }
